<div class="card" style="width: 100%;">
    <div class="card-header text-center">
        {{title}}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="text-dark">Country of Origin:</div>
                <div class="text-secondary">{{country}}</div>
                <div class="text-dark">Appelation:</div>
                <div class="text-secondary">{{appelation}}</div>
                <div class="text-dark">Vintage:</div>
                <div class="text-secondary">{{vintage}}</div>
            </div>
            <div class="col-6 text-center">
                <h1 class="float-right">${{cost}}</h1>
                <button type="button" class="btn btn-outline-dark float-right" href="{{website}}" >Vineyard
                    Link</button>
            </div>
        </div>
        <img class="wine_img" src="./images/wine_bottle.jpg">
    </div>
</div>